<% if empty_cell?(row, column) %>
  <% if !game_over? %>
    <form name="input" action="/move/index">
      <input type="hidden" name="move_row" value=<%=row%>/>
      <input type = "hidden" name="move_column" value=<%=column%>/>
      <button name="move" value="move<%=row%><%=column%>"> - </button>
    </form>
  <% else %>
    <button> - </button>
  <% end %>
<%elsif draw_x?(row, column)%>
  <button>X</button>
<%else%>
  <button>O</button>
<%end %>
