<%= render :partial => 'header' %>
<%= render :partial => 'table' %>
<%= render :partial => 'check_win' %>

<br/>
<form name="Home" action="../menu/index">
  <button type="submit" name="move">Home</button>
</form>
