<h1>
  <% if game_over? %>
    <%= render :partial => 'display_winner' %>
  <% else %>
    Player
    <% if player_ones_turn? %>
      One's
    <% else %>
      Two's
    <% end %>
    move
  <% end %>
</h1>
